body{
    width: 100%;
    max-width: 800px;

    font-family: 'KoPubDotumLight', sans-serif;
}

@font-face {
    font-family: 'KoPubDotumBold'; 
    src: url('fonts/KoPubDotumBold.ttf') format('truetype'); 
    font-family: 'KoPubDotumLight'; 
    src: url('fonts/KoPubDotumLight.ttf') format('truetype'); 
    font-family: 'KoPubDotumMedium'; 
    src: url('fonts/KoPubDotumMedium.ttf') format('truetype'); 
  }